
h2, h3 {
    font-size: 33px;
    
}
.grid-container {
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    // gap: 10px;
}
.sq1x1 {
    grid-column: span 1;
    grid-row: span 1;
}

.sq2x2 {
    grid-column: span 2;
    grid-row: span 2;
}
.rect {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
}
.sq1x1, .sq2x2 {
    aspect-ratio: 1 / 1;
}
.bar {
    position: sticky;
        top: 175px;
    grid-column: span 4;
    grid-row: span 1;
    aspect-ratio: 4 / 1;
    text-align: center;
    /* text-shadow: */
    /*     0 0 5px #333, 0 0 10px #333, 0 0 20px #333, 0 0 40px #333, 0 0 80px #333; */
}
.box, .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    position: relative;
}
.box {
    opacity: 0.87;
    background: var(--color2);
    border: 1px solid var(--color7);
    transition: 200ms;
}
.box:hover {
    opacity: 0.99;
    background:
        repeating-linear-gradient(45deg, var(--color6), var(--color6) 10px, var(--color2) 10px, var(--color2) 20px);
}
