:root {
  --wallpaper: url("/nightlights.jpg");
  --wallpaper-sm: url("/smnightlights.jpg");

  /* Special */
  --background: #210a1f;
  --foreground: #9eb9c3;
  --cursor: #9eb9c3;

  /* Colors */
  --color0: #210a1f;
  --color1: #524c57;
  --color2: #45586d;
  --color3: #476579;
  --color4: #f0af46;
  --color5: #cc8968;
  --color6: #4a768d;
  --color7: #9eb9c3;
  --color8: #6e818866;
  --color9: #524c5766;
  --color10: #45586d66;
  --color11: #47657966;
  --color12: #f0af4666;
  --color13: #cc896866;
  --color14: #4a768d66;
  --color15: #9eb9c366;
}
[data-theme="basic"] {
  --wallpaper: url("/basic.jpg");
  --wallpaper-sm: url("/smbasic.jpg");

  /* Special */
  --background: #0e1814;
  --foreground: #ebf0e2;
  --cursor: #ebf0e2;

  /* Colors */
  --color0: #0e1814;
  --color1: #507499;
  --color2: #2067d7;
  --color3: #338cef;
  --color4: #55a4cf;
  --color5: #deefa4;
  --color6: #a4cac5;
  --color7: #ebf0e2;
  --color8: #a4a89e66;
  --color9: #50749966;
  --color10: #2067d766;
  --color11: #338cef66;
  --color12: #55a4cf66;
  --color13: #deefa466;
  --color14: #a4cac566;
  --color15: #ebf0e266;
}
[data-theme="arst"] {
  --wallpaper: url("/arst.jpg");
  --wallpaper-sm: url("/smarst.jpg");

  /* Special */
  --background: #0e1814;
  --foreground: #ebf0e2;
  --cursor: #ebf0e2;

  /* Colors */
  --color0: #0e1814;
  --color1: #507499;
  --color2: #2067d7;
  --color3: #338cef;
  --color4: #55a4cf;
  --color5: #deefa4;
  --color6: #a4cac5;
  --color7: #ebf0e2;
  --color8: #a4a89e66;
  --color9: #50749966;
  --color10: #2067d766;
  --color11: #338cef66;
  --color12: #55a4cf66;
  --color13: #deefa466;
  --color14: #a4cac566;
  --color15: #ebf0e266;
}
[data-theme="berries"] {
  --wallpaper: url("/berries.jpg");
  --wallpaper-sm: url("/smberries.jpg");

  /* Special */
  --background: #060803;
  --foreground: #f0ccde;
  --cursor: #f0ccde;

  /* Colors */
  --color0: #060803;
  --color1: #b48f72;
  --color2: #c0a46b;
  --color3: #c1608b;
  --color4: #ba9987;
  --color5: #c7aa92;
  --color6: #ddd4a7;
  --color7: #f0ccde;
  --color8: #a88e9b66;
  --color9: #b48f7266;
  --color10: #c0a46b66;
  --color11: #c1608b66;
  --color12: #ba998766;
  --color13: #c7aa9266;
  --color14: #ddd4a766;
  --color15: #f0ccde66;
}
[data-theme="flowers"] {
  --wallpaper: url("/flowers.jpg");
  --wallpaper-sm: url("/smflowers.jpg");

  /* Special */
  --background: #411d1a;
  --foreground: #ece9e3;
  --cursor: #ece9e3;

  /* Colors */
  --color0: #411d1a;
  --color1: #b47689;
  --color2: #b89494;
  --color3: #caaaac;
  --color4: #d5c6b6;
  --color5: #dacbca;
  --color6: #e4d7d3;
  --color7: #ece9e3;
  --color8: #a5a39e66;
  --color9: #b4768966;
  --color10: #b8949466;
  --color11: #caaaac66;
  --color12: #d5c6b666;
  --color13: #dacbca66;
  --color14: #e4d7d366;
  --color15: #ece9e366;
}
[data-theme="sun"] {
  --wallpaper: url("/sun.jpg");
  --wallpaper-sm: url("/smsun.jpg");

  /* Special */
  --background: #130b15;
  --foreground: #c8e4f0;
  --cursor: #c8e4f0;

  /* Colors */
  --color0: #130b15;
  --color1: #04cfec;
  --color2: #17cde2;
  --color3: #5fd6f1;
  --color4: #af96ac;
  --color5: #a3a7d4;
  --color6: #d4a8d6;
  --color7: #c8e4f0;
  --color8: #8c9fa866;
  --color9: #04cfec66;
  --color10: #17cde266;
  --color11: #5fd6f166;
  --color12: #af96ac66;
  --color13: #a3a7d466;
  --color14: #d4a8d666;
  --color15: #c8e4f066;
}
[data-theme="growing"] {
  --wallpaper: url("/growing.jpg");
  --wallpaper-sm: url("/smgrowing.jpg");

  /* Special */
  --background: #072614;
  --foreground: #aed2c0;
  --cursor: #aed2c0;

  /* Colors */
  --color0: #072614;
  --color1: #56a71e;
  --color2: #2a854d;
  --color3: #378f66;
  --color4: #64ae57;
  --color5: #7bc353;
  --color6: #95ca5b;
  --color7: #aed2c0;
  --color8: #79938666;
  --color9: #56a71e66;
  --color10: #2a854d66;
  --color11: #378f6666;
  --color12: #64ae5766;
  --color13: #7bc35366;
  --color14: #95ca5b66;
  --color15: #aed2c066;
}
[data-theme="heavy-psych"] {
  --wallpaper: url("/heavy-psych.jpg");
  --wallpaper-sm: url("/smheavy-psych.jpg");

  /* Special */
  --background: #0f0a11;
  --foreground: #cbc7d1;
  --cursor: #cbc7d1;

  /* Colors */
  --color0: #0f0a11;
  --color1: #718c57;
  --color2: #a2a05e;
  --color3: #d3c960;
  --color4: #3956a1;
  --color5: #586999;
  --color6: #747fa0;
  --color7: #cbc7d1;
  --color8: #8e8b9266;
  --color9: #718c5766;
  --color10: #a2a05e66;
  --color11: #d3c96066;
  --color12: #3956a166;
  --color13: #58699966;
  --color14: #747fa066;
  --color15: #cbc7d166;
}
[data-theme="ibm"] {
  --wallpaper: url("/ibm.jpg");
  --wallpaper-sm: url("/smibm.jpg");

  /* Special */
  --background: #110405;
  --foreground: #f5dfc4;
  --cursor: #f5dfc4;

  /* Colors */
  --color0: #110405;
  --color1: #ac4f24;
  --color2: #cc682d;
  --color3: #ad674b;
  --color4: #e48e46;
  --color5: #ed9c59;
  --color6: #f1b688;
  --color7: #f5dfc4;
  --color8: #ab9c8966;
  --color9: #ac4f2466;
  --color10: #cc682d66;
  --color11: #ad674b66;
  --color12: #e48e4666;
  --color13: #ed9c5966;
  --color14: #f1b68866;
  --color15: #f5dfc466;
}
[data-theme="icamera"] {
  --wallpaper: url("/icamera.jpg");
  --wallpaper-sm: url("/smicamera.jpg");

  /* Special */
  --background: #030302;
  --foreground: #d4d8d9;
  --cursor: #d4d8d9;

  /* Colors */
  --color0: #030302;
  --color1: #423f41;
  --color2: #6a5a51;
  --color3: #8a7164;
  --color4: #99847a;
  --color5: #7b8484;
  --color6: #a69f9a;
  --color7: #d4d8d9;
  --color8: #94979766;
  --color9: #423f4166;
  --color10: #6a5a5166;
  --color11: #8a716466;
  --color12: #99847a66;
  --color13: #7b848466;
  --color14: #a69f9a66;
  --color15: #d4d8d966;
}
[data-theme="nightlights"] {
  --wallpaper: url("/nightlights.jpg");
  --wallpaper-sm: url("/smnightlights.jpg");

  /* Special */
  --background: #210a1f;
  --foreground: #9eb9c3;
  --cursor: #9eb9c3;

  /* Colors */
  --color0: #210a1f;
  --color1: #524c57;
  --color2: #45586d;
  --color3: #476579;
  --color4: #f0af46;
  --color5: #cc8968;
  --color6: #4a768d;
  --color7: #9eb9c3;
  --color8: #6e818866;
  --color9: #524c5766;
  --color10: #45586d66;
  --color11: #47657966;
  --color12: #f0af4666;
  --color13: #cc896866;
  --color14: #4a768d66;
  --color15: #9eb9c366;
}
[data-theme="trees"] {
  --wallpaper: url("/trees.jpg");
  --wallpaper-sm: url("/smtrees.jpg");

  /* Special */
  --background: #120c07;
  --foreground: #d1c1a3;
  --cursor: #d1c1a3;

  /* Colors */
  --color0: #120c07;
  --color1: #a75518;
  --color2: #8e6d20;
  --color3: #8e7354;
  --color4: #7b8603;
  --color5: #8e9206;
  --color6: #9e9d19;
  --color7: #d1c1a3;
  --color8: #92877266;
  --color9: #a7551866;
  --color10: #8e6d2066;
  --color11: #8e735466;
  --color12: #7b860366;
  --color13: #8e920666;
  --color14: #9e9d1966;
  --color15: #d1c1a366;
}
[data-theme="chicago"] {
  --wallpaper: url("/chicago.jpg");
  --wallpaper-sm: url("/smchicago.jpg");

  /* Special */
  --background: #021212;
  --foreground: #86cddb;
  --cursor: #86cddb;

  /* Colors */
  --color0: #021212;
  --color1: #bb9058;
  --color2: #066e90;
  --color3: #077093;
  --color4: #507987;
  --color5: #0c8fb1;
  --color6: #2596ab;
  --color7: #86cddb;
  --color8: #5d8f9966;
  --color9: #bb905866;
  --color10: #066e9066;
  --color11: #07709366;
  --color12: #50798766;
  --color13: #0c8fb166;
  --color14: #2596ab66;
  --color15: #86cddb66;
}
[data-theme="winter"] {
  --wallpaper: url("/winter.png");
  --wallpaper-sm: url("/smwinter.png");

  /* Special */
  --background: #101415;
  --foreground: #adb8c0;
  --cursor: #adb8c0;

  /* Colors */
  --color0: #101415;
  --color1: #485b65;
  --color2: #576975;
  --color3: #677078;
  --color4: #a47f6a;
  --color5: #5e7382;
  --color6: #667a89;
  --color7: #adb8c0;
  --color8: #79808666;
  --color9: #485b6566;
  --color10: #57697566;
  --color11: #67707866;
  --color12: #a47f6a66;
  --color13: #5e738266;
  --color14: #667a8966;
  --color15: #adb8c066;
}
/* CSS variables
   Generated by 'wal' */
[data-theme="wood"] {
  --wallpaper: url("/wood.jpg");
  --wallpaper-sm: url("/smwood.jpg");

  /* Special */
  --background: #0f0402;
  --foreground: #d7c6b5;
  --cursor: #d7c6b5;

  /* Colors */
  --color0: #0f0402;
  --color1: #7a5b45;
  --color2: #835e3c;
  --color3: #8f6d4f;
  --color4: #927055;
  --color5: #a18262;
  --color6: #ab8b6e;
  --color7: #d7c6b5;
  --color8: #968a7e66;
  --color9: #7a5b4566;
  --color10: #835e3c66;
  --color11: #8f6d4f66;
  --color12: #92705566;
  --color13: #a1826266;
  --color14: #ab8b6e66;
  --color15: #d7c6b566;
}
